@charset "UTF-8";
/**登陆样式**/
.contentBox{
    width: 100%;
    height:100vh;
    background-image: url("../images/7a1bbe4ffac92de8993218f0e3d948f4.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.contentBox .contentInner{
    width: 500px;
    padding: 20px;
}

.contentBox .contentInner h1{
    font-size: 22px;
    text-align: center;
    color: #b3b2b2;
}
.contentBox .contentInner input{
    width: 260px;
    height: 35px;
    line-height: 35px;
    padding-left: 3px;
    color: white;
    background: rgba(5, 27, 51, 0.3);
    margin: 10px auto;
}
span.errorMsg{
    width: 100%;
    height: 25px;
    color: #ED6C44;
    text-transform: Capitalize;
}
.contentBox .contentInner button{
    padding: 3px 10px;
    background: #40a9ff;
    border-radius: 3px;
    color: #fff;
    display: block;
    margin: 10px auto;
}
.contentBox .fbLoginButton .fa-facebook{
     margin-right: 5px;
 }
